@import "tailwindcss";

@theme {
    --color-primary: #ff5722;
    --color-secondary: #ff9800;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin: auto;
}

.link:hover {
    color: var(--color-primary);
}

.MuiBadge-badge {
    background-color: var(--color-primary) !important;
    height: 1.2rem !important;
    width: 1.2rem !important;
    min-width: 1.2rem !important;
    font-size: 12px !important;
}

.MuiDrawer-paper{
    background-color: oklch(98% 0.016 73.684) !important;
}

.MuiButton-root.active {
    color: #ff5722 !important;
}

nav button {
    text-transform: capitalize !important;
}