@import "tailwindcss";

@theme {
    --color-primary: #ff5722;
    --color-secondary: #ff9800;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

.pages {
    background-color: #fff7ed;
}
.container {
    width: 95%;
    margin: auto;
}

.link:hover {
    color: var(--color-primary);
}

.MuiBadge-badge {
    background-color: var(--color-primary) !important;
    height: 1.2rem !important;
    width: 1.2rem !important;
    min-width: 1.2rem !important;
    font-size: 12px !important;
}

.MuiDrawer-paper{
    background-color: oklch(98% 0.016 73.684) !important;
}

.MuiButton-root.active {
    color: #ff5722 !important;
}

nav button {
    text-transform: capitalize !important;
}

.categorySlider, .productSlider, .blogsSlider {
    overflow: inherit !important;
}

.swiper-button-prev, .swiper-button-next {
    background-color: white;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
    margin: 0 10px;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px !important;
    color: black;
    font-weight: 800 !important;
}

.categorySlider .swiper-button-prev,.categorySlider .swiper-button-next{
    width: 25px;
    min-width: 25px;
    height: 25px;
}

.categorySlider .swiper-button-prev{
    left: -5px;
}

.categorySlider .swiper-button-next{
    right: -5px;
}

.categorySlider .swiper-button-prev:after,.categorySlider .swiper-button-next:after {
    font-size: 10px !important;
}

.item:hover {
    transform: scale(1.1);
}

.tab {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.tab:hover {
    border-bottom: 2px solid var(--color-primary);
}

.productCard, .blogCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imageWrapper img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.bannerSlider img:hover {
    transform: scale(1.1);
}

.MuiFormControlLabel-label {
    font-size: 13px !important;
    color: gray;
}

.MuiCheckbox-root.Mui-checked {
    color: var(--color-primary) !important;
}

.slider .swiper-slide-active .info-right{
    right: 0 !important;
    opacity: 1;
}

.slider .swiper-slide-active .info-left{
    left: 3rem !important;
    opacity: 1;
}

.navlink:hover .submenu {
    display: block;
}

.Mui-selected.MuiPaginationItem-page {
    background-color: var(--color-orange-400) !important;
    color: white;
}

.MuiPaginationItem-page:hover, .MuiPaginationItem-previousNext:hover {
    background-color: var(--color-orange-100) !important;
    color: var(--color-primary);
}

.sizeBtn {
    width: 35px !important;
    min-width: 35px !important;
    height: 35px !important;
    color: var(--color-blue-500) !important;
    border: 1px solid var(--color-gray-200) !important;
}

.sizeBtn:hover {
    background-color: var(--color-blue-50) !important;
}

.sizeBtn.active {
    background-color: var(--color-primary) !important;
    color: white !important;
    border: none !important;
}

.MuiInputLabel-outlined {
    font-size: 15px !important;
}

.MuiOutlinedInput-root {
    font-size: 12px !important;
}

.qty-input>.MuiInputBase-root {
    height: 1.9rem !important;
}

.MuiOutlinedInput-root.select {
    height: 1.9rem !important;
}

.MuiMenuItem-root {
    font-size: 12px !important;
}

.orders-table, .orders-table th, .orders-table td {
    border: 1px solid var(--color-gray-300);
    font-size: 12px;
    width: max-content;
}

.orders-table th, .orders-table td  {
    min-width: 200px;
    text-align: center;
    padding: 5px;
}

.orders-table td:nth-child(1){
    text-align: left;
}

.orders-table th {
    background-color: var(--color-orange-400);
    color: white;
    font-weight: 500;
}



